

/* general styles */

/* body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.no-scroll {
  overflow: hidden;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato;}  */
/* */ 

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* ::after,
::before {
  box-sizing: border-box;
} */

/* reset styles */

/* img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* button styles */
/* 

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-cl);
  background: var(--accent-txt-cl);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

    transition: background-color var(--dur-tf);
}


.button:hover,
.button:focus {
  background-color: var(--secondary-accent);
}
 */

/* logo styles */

/* .logo {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.logo__web {
  color: var(--accent-txt-cl);
}

.logo__studio-header {
  color: var(--logo-black-cl);
}

.logo__studio-footer {
  color: var(--white-cl);
}
 */


/* header styles */

/* .header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: var(--white-cl);
  border-bottom-color: #ececec;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header__container {
  display: flex;
  align-items: center;

}

.header__logo {
  margin-right: 93px;
} */

/* .nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .nav {
    margin-right: auto;
} */

/* .nav__list {
  display: flex;
  gap: 50px;
} */

/* .nav__item {margin-right: 50px;}
.nav__item:last-child {margin-right: 0;} */

/* .nav__link {
  display: block;
  padding: 32px 0;
    transition: color var(--dur-tf);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}

.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);

}

.nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-txt-cl);
  border-radius: 2px;
} */

/* .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__mail {
  margin-right: 50px;
}

.contact {
  margin-left: auto;
  display: flex;
  color: var(--secondary-txt-cl);
  align-items: center;
}

.contact__phone,
.contact__mail {
  display: flex;
  text-align: center;
}

.contact__icon {
  margin-right: 10px;

  fill: currentColor;
}

.contact__phone,
.contact__mail {
  transition: color var(--dur-tf), background-color var(--dur-tf);
}

.contact__phone:hover,
.contact__mail:hover,
.contact__phone:focus,
.contact__mail:focus {
  color: var(--accent-txt-cl);
} */


/* hero styles  */
/* .hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-cl);
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto; */
  /* margin-top: 0; */
  /* margin-bottom: 30px;

  color: var(--white-cl);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
} */
/* 
.hero__button {
  padding: 10px 32px;
  display: inline-block;
  min-width: 73px;
} */
/* features styles */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
}

.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-cl);
  border-radius: 4px;
} */

/*  training--
.features-item::before {
    margin-bottom: 30px;
    display: block;
    content: '';
    height: 120px;
    outline: 1px solid tomato;
   background-image: url(../images/features/antenna\ 1.svg);
   background-repeat: no-repeat;
   background-position: center;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.icon-antenna::before {background-image: url(../images/features/antenna.svg);}

.icon-clock::before {
    background-image: url(../images/features/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/features/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/features/astronaut.svg);
} */

/* .features__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__deskr {
  color: var(--secondary-txt-cl);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* about styles - team styles - client styles */

/* .about {
  padding-top: 0;
} */

/* .team__subtitle,
.about__subtitle,
.client__subtitle {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .about__list {
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
}

.about__block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  ;
}

.about__text {

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cl);
} */


/* team styles */
/* .team {
  background-color: var(--btn-bg-cl);
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  background-color: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px 10px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__descr {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
} */

/* clients */
/* .client__list {
  gap: 30px;
  
      display: flex;
      justify-content: space-between;
    
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--dur-tf), background-color var(--dur-tf);
  width: 170px;
  height: 92px;
  background-color: var(--white-cl);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--dur-tf);
}

.client__icon {
  fill: #afb1b8;
  transition: fill var(--dur-tf);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--accent-txt-cl);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-txt-cl);
} */

/* PORTFOLIO */
/* filter styles */
/* 
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}


.button-list__filter {
  padding: 6px 22px;
    display: inline-block;
      min-width: 73px;
      border: 1px solid transparent;
      border-radius: 4px;
cursor: pointer;
  font-family: inherit;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

  color: currentColor;
  background-color: var(--btn-bg-cl);

  transition: background-color var(--dur-tf), color var(--dur-tf), box-shadow var(--dur-tf);
}

.button-list__filter:hover,
.button-list__filter:focus,
.button-list__filter:active {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* project styles */
/* .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {

  width: 370px;
  transition: box-shadow var(--dur-tf);

}

.projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:hover .projects__overlay,
.projects__item:focus .projects__overlay {
  transform: translateY(0);
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__overlay {

  position: absolute;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--dur-tf);
}

.projects__overlay-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.6;

  letter-spacing: 0.03em;
  color: var(--white-cl);

}

.projects__content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projects__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__descr {
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
} */

/* footer styles */
/* .footer {
  color: var(--footer-cl);
  background-color: var(--footer-bg-cl);
}

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact__address {
  color: var(--white-cl);
}


.footer-contact__address,
.footer-contact__mail,
.footer-contact__phone {
  transition: color var(--dur-tf)
}
.footer-contact__address:hover,
.footer-contact__mail:hover,
.footer-contact__phone:hover,
.footer-contact__address:focus,
.footer-contact__mail:focus,
.footer-contact__phone:focus {
  color: var(--accent-txt-cl);
}


.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__join {
  margin-left: 70px;
  margin-right: 93px;
}

.footer__subtitle {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cl);
}

.footer__join .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__join .social__icon {
  fill: var(--white-cl);
} */



/* Socials links*/
/* .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-cl);
  border-radius: 50%;
  transition: background-color var(--dur-tf);
  
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-txt-cl);

}

.socials__icon {
  fill: #afb1b8;
  transition: fill var(--dur-tf);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
} */

/* training
.social-icon {
  fill: #afb1b8;
}
.social-icon:hover,
.social-icon:focus {}*/

/* .footer__form {display: flex;}

.footer__input {
  margin-right: 12px;
  width: 358px;

  padding-left: 16px;
  color: var(--btn-bg-cl);
  background-color: inherit;
outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
   
    border-radius: 4px;
transition: filter var(--dur-tf);
}

.footer__input:hover,
.footer__input:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.footer__button {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  gap: 10px;
}

.footer__button:hover,
.footer__button:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */


/* Modal window*/

/* .backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;


  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms ease-in, visibility 500ms ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;

}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2);
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background: var(--white-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border var(--dur-tf);
  cursor: pointer;
}

.modal-button-close-icon {
  fill: #000000;
  transition: fill var(--dur-tf);
}



.modal-button-close:hover .modal-button-close-icon,
.modal-button-close:focus .modal-button-close-icon {
  fill: var(--accent-txt-cl);
;
} */



/* Modal form */

/* .modal-form {
  text-align: center;
 
}

.modal-title {
  display: block;
  margin-bottom: 12px;



  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-group {
  margin-bottom: 20px;}

.modal-form-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form-group:last-child {
  margin-bottom: 0px;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-cl);
} 

.form-input,
.form-message {
  padding: 11px;
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--dur-tf);

  outline: transparent;
}

.form-message {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5)
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 13px;

  transition: fill var(--dur-tf);
  
}


.form-input:focus,
.form-input:hover {
  border: 1px solid var(--accent-txt-cl);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: #188ce8;
}

.form-message:focus,
.form-message:hover {
  border: 1px solid var(--accent-txt-cl);
}

 .modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
} 

.form-checkbox:checked + .agreement-icon .agreement-icon-uncheck {
  opacity: 0;
  transition: opacity var(--dur-tf);
}

.agreement-icon-check {
  opacity: 0;
  transition: opacity var(--dur-tf);
}

.form-checkbox:checked+.agreement-icon .agreement-icon-check {
  opacity: 1;
}



.form-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  
  user-select: none;
  text-underline-position: under;
  color: var(--secondary-txt-cl);
}

.form-agreement-link {
  color: var(--accent-txt-cl);
}

.modal-form-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 52px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--dur-tf);
} */


