.about {
    padding-top: 0;
}

.about__list {
    display: flex;
    justify-content: space-between;
}

.about__item {
    position: relative;
}

.about__block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    ;
}

.about__text {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-cl);
}