.modal-form {
    text-align: center;

}

.modal-title {
    display: block;
    margin-bottom: 12px;



    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.form-group {
    margin-bottom: 20px;
}

.modal-form-group {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
        }
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
}

.form-input {
    padding: 11px;
    padding-left: 42px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--dur-tf);

    outline: transparent;

    &:focus,
    &:hover {
        border: 1px solid var(--accent-txt-cl);
        }
}

.form-message {
    padding: 12px 16px;
    height: 120px;
    resize: none;
  
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
        
    transition: border var(--dur-tf);
        
    outline: transparent;

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5)
    }
    
    &:focus,
    &:hover {
        border: 1px solid var(--accent-txt-cl);
    }
}

.form-icon {
    position: absolute;
    left: 12px;
    bottom: 13px;

    transition: fill var(--dur-tf);

    .form-input:focus+&,
    .form-input:hover+& {
        fill: #188ce8;
    }

}

.modal-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}


.agreement-icon-check {
    opacity: 0;
    transition: opacity var(--dur-tf);

    .form-checkbox:checked+.agreement-icon & {
        opacity: 0;
        transition: opacity var(--dur-tf);
    }

    .form-checkbox:checked+.agreement-icon & {
        opacity: 1;
    }
}

.form-agreement-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    user-select: none;
    text-underline-position: under;
    color: var(--secondary-txt-cl);
}

.form-agreement-link {
    color: var(--accent-txt-cl);
}

.modal-form-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 52px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--dur-tf);
}